body{
    font-family: "Inter", system-ui, sans-serif;
}
.nav-links a {
    color: #1f2937; 
    font: 600 18px "Inter", system-ui, sans-serif;
    transition: color 0.2s ease;
}

.nav-links a:hover {
    color: #2563eb; 
}
.navbar-right * {
    font-family: "Inter", system-ui, sans-serif;
    /* font-size: 15px; */
    font-weight: 500;
    /* color: #1f2937; */
    /* padding: 0 6px; */
    transition: color 0.2s ease;
}
.navbar-right a{
    padding: 11px 15px 11px 11px;
    background-color: #1b63ed;
    align-items: center;
    color: #fff;
    transition:  0.2s ease-in-out; 
    border-radius: 12px; 
}
.navbar-right a:hover{
    background-color: #264ea5;
}
/* .navbar-right p:hover,
.navbar-right i:hover {
    color: #2563eb; 
    cursor: pointer;
} */


.suretlikecidler{
       background-color: rgb(240 240 240 / var(--tw-bg-opacity, 1)); 
}
.suretli-k{
    padding: 15px 30px;
}
.suretli-k a:hover{
    color: black;
}
/* 768 DEN SONRA PADDINGI AZALD DUZELECEK */



.tamkartsifaris{
    font: 600 18px "Inter", system-ui, sans-serif; 
    padding: 20px;
    color: #fff;
    background-color: #1b63ed;
    border-radius: 20px;
}

/* abb ilk sehife  */
.abb-qisayol{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.abbslider{
    padding: 40px;
    border-radius: 30px;
    background-color: #7E48FA;
}
.abbdeposit , .abbbiz ,.abbnagd , .abbmobile{
    padding: 30px;
    border-radius: 30px;
    background-color: #fff;
}
.gray-bg{
    background-color: #F0F0F0;
}
.abbslider-l span{
    background-color: #9365FB;
}
.abbslider-l a{
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
}
.abbdeposit h4, .abbbiz h4,.abbnagd h4, .abbmobile h4{
    font: 500 20px ;

}